i {
  transition: .2s color linear, .2s filter linear;
}

:host>div {
  transition: .1s box-shadow linear, .1s background-color linear;
}

:host>div:active {
  box-shadow: 0px 0px 20px #888;
  background-color: rgba(255, 255, 255, .1);
}

.icon {
  margin: .3em;
}

.light i {
  color: yellow;
  filter: drop-shadow(0px 0px 7px #fff200);
}

:host>div {
  border: solid 1px #699fae;
  border-radius: 5px;
}

.main-button {
  padding: 1.2em;
}

.more {
  padding: 2em;
  background-color: rgba(21, 31, 37, .5);
  border: solid 1px #11181a; 
  border-radius: 0px 5px 5px 0px;
}
