<div fxLayout="row" fxLayoutAlign="start center" *ngIf="items" [ngClass]="{'playing': items.controls.state === 'PLAY'}">
  <!-- <div class="volume" *ngIf="items.Volume && showVolume" fxFill>
    <mat-slider [min]="0" [max]="100"
      [step]="1" [(ngModel)]="items.Volume.state"
      (change)="volume()">
    </mat-slider>
  </div> -->
  <div class="vinyl" [ngStyle]="{'background-image': 'url(assets/images/vinyl.png), url(' + items.imageUrl.state + ')'}"></div>
  <div class="infos" fxLayout="column" fxFlex>
    <div class="title">
      {{items.title.state}}
    </div>
    <div class="artist">
      by {{items.artist.state}}
    </div>
  </div>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="actions" fxLayoutAlign="center center">
      <button class="control" (click)="control('PLAY')" *ngIf="items.controls.state === 'PAUSE'"><i class="fas fa-play fa-2x"></i></button> 
      <button class="control" (click)="control('PAUSE')" *ngIf="items.controls.state === 'PLAY'"><i class="fas fa-pause fa-2x"></i></button>
    </div>
    <div class="duration" fxFill fxLayout="row" fxLayoutAlign="space-around center">
      <i class="fa fa-clock"></i>
      <div>{{items.duration.state |minuteSeconds}}</div>
    </div>
  </div>
</div>