<div fxLayout="row" fxLayoutAlign="start center" *ngIf="item" [ngClass]="{'playing': item.state === 'playing'}">
  <!-- <div class="volume" *ngIf="showVolume" fxFill>
    <mat-slider [min]="0" [max]="1"
      [step]=".01" [(ngModel)]="item.attributes.volume_level"
      (change)="volume()">
    </mat-slider>
  </div> -->
  <div class="vinyl" [ngStyle]="{'background-image': 'url(assets/images/vinyl.png), url(' + item.attributes.entity_picture + ')'}"></div>
  <div class="infos" fxLayout="column" fxFlex>
    <div class="title">
      {{item.attributes.media_artist}}
    </div>
    <div class="artist" *ngIf="item.state !== 'off'">
      by {{item.attributes.media_title}}
    </div>
  </div>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="actions" fxLayoutAlign="center center">
      <button class="control" (click)="control('PLAY')" *ngIf="item.state === 'paused'"><i class="fas fa-play fa-2x"></i></button> 
      <button class="control" (click)="control('pause')" *ngIf="item.state === 'playing'"><i class="fas fa-pause fa-2x"></i></button>
    </div>
    <!-- <div class="duration" fxFill fxLayout="row" fxLayoutAlign="space-around center">
      <i class="fa fa-clock"></i>
      <div>{{item.attributes.media_duration}}</div>
    </div> -->
  </div>
</div>

