<div class="container" fxLayout="column" *ngIf="room">
  <div fxLayout="row" class="row">
    <div class="area area-top area-A" fxFlex fxLayoutAlign="start center" fxLayout="column">
      <app-widget-outlet *ngFor="let widget of room.layout.areaA" [widget]="widget">
      </app-widget-outlet>
    </div>

    <div class="area-center infos" fxLayout="column" fxLayoutAlign="end center">
      <div class="label">{{room.label}}</div>
      <img src="/assets/images/rooms/{{room.icon}}.png">
    </div>

    <div class="area area-top area-B" fxFlex fxLayoutAlign="start center" fxLayout="column">
      <app-widget-outlet *ngFor="let widget of room.layout.areaB" [widget]="widget">
      </app-widget-outlet>
    </div>
  </div>
  <div fxLayout="row" class="row">
    <div class="area area-bottom area-C" fxFlex fxLayoutAlign="start center" fxLayout="column">
      <app-widget-outlet *ngFor="let widget of room.layout.areaC" [widget]="widget">
      </app-widget-outlet>
    </div>

    <div class="area area-bottom area-D" fxFlex fxLayoutAlign="start center" fxLayout="column">
      <app-widget-outlet *ngFor="let widget of room.layout.areaD" [widget]="widget">
      </app-widget-outlet>
    </div>
  </div>
</div>