<div class="container" *ngIf="cs.config.rooms[roomId]" fxLayout="column" fxFlex>
  <div class="header" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="sensor" *ngIf="cs.config.rooms[roomId].sensors?.Sensor.properties.Temperature" fxLayout="row" fxLayoutAlign="center center">
      <i class="fas fa-thermometer-three-quarters"></i>
      <div class="value">{{cs.config.rooms[roomId].sensors.Sensor.properties.Temperature.value | number:'1.0-1'}} °C</div>
    </div>
    <div class="sensor" *ngIf="cs.config.rooms[roomId].sensors?.Sensor.properties.Humidity" fxLayout="row" fxLayoutAlign="center center">
      <i class="fas fa-tint"></i>
      <div class="value">{{cs.config.rooms[roomId].sensors.Sensor.properties.Humidity.value | number:'1.0-0'}} %</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="label">{{cs.config.rooms[roomId].label}}</div>
      <img src="/assets/images/{{cs.config.rooms[roomId].icon}}.png">
    </div>
  </div>
  <div class="devices" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div *ngFor="let device of getDevices()" class="device">
      <app-outlet-component [device]="device"></app-outlet-component>
    </div>
  </div>
</div>