:host {
  height: 100%;
  display: block;
}

.container {
  background-image: url("/assets/images/background2.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 130px);
  width: 100%;

  transition: background-image 1s ease-in-out;
}

.row {
  height: 50%;
}

.infos {
  /* margin-bottom: -86px; */
}

.infos .label {
  margin-bottom: 1em;
  font-size: 1.17em;
}

.area {
  overflow-y: auto;
  padding: 1em;
}

.area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(253, 253, 253, 0);
  border-radius: 10px;
}

.area::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(253, 253, 253, 0);
}

.area::-webkit-scrollbar-thumb
{
  background-color: #00000059;
  border-radius: 10px;
}

.area-top {
  padding-bottom: 35px;
}

.area-bottom {
  padding-top: 30px;
}

.area-C {
  padding-right: 90px;
}

.area-D {
  padding-left: 90px;
}

@media screen and (min-width: 1024px){
  .area-center img {
    width: 240px;
    height: auto;
  }
  .infos {
    margin-bottom: -63px;
  }
}

@media screen and (min-width: 1280px){
  .area-center img {
    width: 100%;
    height: auto;
  }
  .infos {
    margin-bottom: -86px;
  }

  .area-top {
    padding-bottom: 40px;
  }
  
  .area-bottom {
    padding-top: 45px;
  }
  
  .area-C {
    padding-right: 110px;
  }
  
  .area-D {
    padding-left: 110px;
  }  
}
