<div>
  <mat-form-field fxFill>
    <input matInput placeholder="Widget type" [value]="data.widget.widget" disabled="true">
  </mat-form-field>
  <form (ngSubmit)="save(form)" [formGroup]="form">
    <mat-form-field fxFill>
      <mat-select placeholder="Item" formControlName="item">
        <mat-option *ngFor="let it of getItems()" [value]="it.id">
          {{it.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
      <input matInput placeholder="Label" formControlName="label">
    </mat-form-field>
    <mat-form-field fxFill>
      <input matInput placeholder="Icon" formControlName="icon">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
      <mat-form-field>
        <input matInput placeholder="Pre-String" formControlName="preString">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Post-String" formControlName="postString">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
      <mat-form-field>
        <mat-select placeholder="Filter">
          <mat-option *ngFor="let filter of filters">
            {{filter}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="parameters">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button type="button" mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button type="submit">Save</button>
    </div>
  </form>
</div>
<!-- <div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()">Save</button>
</div> -->