<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div fxLayout="column" class="container">
  <mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="center center">
      <span class="button-home">
        <i class="fas fa-home" routerLink="/"></i>
      </span>
      <span>{{date |date:'HH:mm'}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex [@routerTransition]="getState(o)" class="body">
    <router-outlet #o="outlet"></router-outlet>
  </div>

  <mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="center center" class="footer">
      <button fxLayoutAlign="center center" routerLink="/hacker">
          <i class="fas fa-code fa-2x"></i>
      </button>
      <button (click)="nightMode()" fxLayoutAlign="center center">
          <i class="fas fa-moon fa-2x"></i>
      </button>
      <button fxLayoutAlign="center center" routerLink="/alerts">
        <i class="fas fa-bell fa-2x"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>