<div fxLayout="column" fxLayoutAlign="start center">
  <div class="buttons" fxLayout="row" fxFill>
    <div class="controls" fxFlex>
      <button class="control" (click)="control('PREVIOUS')"><i class="fas fa-step-backward"></i></button>
      <button class="control" (click)="control('PLAY')" *ngIf="device.properties.Control.value === 'PAUSE'"><i class="fas fa-play"></i></button> 
      <button class="control" (click)="control('PAUSE')" *ngIf="device.properties.Control.value === 'PLAY'"><i class="fas fa-pause"></i></button>
      <button class="control" (click)="control('NEXT')"><i class="fas fa-step-forward"></i></button>
    </div>
    <button class="more control" *ngIf="device.properties.Volume" (click)="showVolume = !showVolume"><i class="fas fa-volume-down"></i></button>
  </div>
  <div class="volume" *ngIf="device.properties.Volume && showVolume" fxFill>
    <mat-slider [min]="0" [max]="100"
      [step]="1" [(ngModel)]="device.properties.Volume.value"
      (change)="volume()">
    </mat-slider>
  </div>
</div>