:host {
  height: 100%;
  display: block;
}

.container {
  background-image: url("/assets/images/background2.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.row {
  height: 50%;
}

.infos {
  margin-bottom: -86px;
}

.infos .label {
  margin-bottom: 1em;
  font-size: 1.17em;
}

.area {
  /* height: 100%; */
  overflow-y: auto;
  padding: 1em;
}

.area-top {
  padding-bottom: 40px;
}

.area-bottom {
  padding-top: 45px;
}

.area-C {
  padding-right: 110px;
}

.area-D {
  padding-left: 110px;
}

.area>div {
  /* background: red; */
  /* width: 100%;
  height: 100%; */
}

/* .room .label {
  margin-bottom: 1em;
  font-size: 1.17em;
} */
