<div *ngIf="cs.layout.rooms" fxFlex fxLayout="row wrap" fxLayoutAlign="center space-around" class="rooms">
  <div *ngFor="let room of cs.layout.rooms" fxFlex="33" class="room" fxLayout="column" fxLayoutAlign="start center">
    <div class="main" fxLayout="column" fxLayoutAlign="center center" routerLink="/room/{{room.id}}">
      <div class="label">{{room.label}}</div>
      <img src="/assets/images/rooms/{{room.icon}}.png" [class.light]="hasLight(room)">
      <!-- <div *ngIf="room.sensors?.Sensor?.properties?.Temperature" class="temperature" fxLayoutAlign="end center">
          <img src="/assets/images/icon_temp.png"> {{room.sensors.Sensor.properties.Temperature.value | number:'1.0-0'}} °C
        </div> -->
    </div>
  </div>
</div>