<div *ngIf="cs.layout?.rooms" fxFlex fxLayout="row wrap" fxLayoutAlign="center space-around" class="rooms">
  <div *ngFor="let room of cs.layout.rooms" fxFlex="33" class="room" fxLayout="column" fxLayoutAlign="start center">
    <div class="main" fxLayout="column" fxLayoutAlign="center center" routerLink="/room/{{room.id}}">
      <div class="label">{{room.label}}</div>
      <img src="/assets/images/rooms/{{room.icon}}.png" [class.light]="hasLight(room)">
      <div class="sensors">
        <div *ngIf="room.sensors?.temperature" class="sensor" fxLayoutAlign="start center">
          <i class="fas fa-thermometer-three-quarters icon temperature"></i>
          {{cs.items[room.sensors.temperature]?.state | number:'1.0-0'}} °C
        </div>
        <!-- <div *ngIf="room.sensors?.lightsgroup" class="sensor" fxLayoutAlign="start center">
          <i class="fas fa-lightbulb icon {{cs.items[room.sensors.lightsgroup]?.state}}"></i>
          {{cs.items[room.sensors.lightsgroup]?.state}}
        </div> -->
      </div>
    </div>
  </div>
</div>